body {
  box-sizing: border-box;
  background-color: grey;
}
.container {
  background-image: url(../img/meme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative;*/
  height: 800px;
  width: 600px;
}

.top {
  padding-top: 60px;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  text-shadow: 1px 1px 1px white;

}

.bottom {
  margin-top: 620px;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 1px white;
}
